<nav>
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/">Connect Ninja</a>
        </div>
        <ul class="nav-links">
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
    <a class="mobile-menu-toggle"></a>
    <ul class="mobile-menu menu">
        <li><a href="/docs/installation">Docs</a></li>
        <li><a href="https://github.com/kylelogue/mustard-ui" target="_blank">GitHub</a></li>
        <li><a href="/support">Support</a></li>
    </ul>
</nav>